<h2 class="contentsTitle01 icoTehai01 openTitle01">求貨登録 入力内容確認</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">

<?php echo $this->Form->create(false, array('method'=>'post', 'action'=>'reg', 'name'=>'form1')); ?>
<!-- ftBox -->
<div class="ftBox mB10">
<!-- flL -->
<div class="flL mR10 pL10 w700">
<!-- tablePt01 -->
登録完了

<!-- /tablePt01 -->

<!--
<h3 class="hPt01">必須の場合</h3>
<ol>
<li>以下のコードを入れる<br>
<pre class="codeBox01"><code>&lt;span class="required"&gt;※&lt;/span&gt;</code></pre></li>
<li>inputのclassにrequiredContentsを指定する<br>
<pre class="codeBox01"><code>class="requiredContents"</code></pre></li>
</ol>

<input type="text" value="テキストインプット" class="w200">
<br>
<label for="id_1"><input type="checkbox" id="id_1">チェックボックス</label>
<label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">ラジオボタン</label>
<label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">ラジオボタン</label>
<br>
-->
</div>

<?php echo $this->Form->end(); ?>
</section>
<!-- /sectionBase01 -->





