


<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">法人別売上一覧出力</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB30">絞り込み条件を入力してください。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC w150">受注CSV</th>
             <td colspan="3">
             	<label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">締日出力</label>
				<label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">末日出力</label>
             </td>
        </tr>
        <tr>
            	<th class="taC">出力年月日</th>
             <td colspan="3">
             	<input type="text" value="yyyymm" class="w150">
                	<br>
                 (例)201408
             </td>
        </tr>
		<tr>
            	<th class="taC">出力年月日</th>
             <td colspan="3">
             	<input type="text" value="yyyymm" class="w150">
                	<br>
                 (例)201408
             </td>
        </tr>
        <tr>
        		<th class="taC">法人名</th>
             <td colspan="3">
             	<input type="text" value="XXXXXXXXX" class="w250">
                	<input type="text" value="XXXXXXXXX" class="w250">
                 <input type="button" value="参照" onclick="" class="btnImg">
             </td>
        </tr>
    </table>
    
    <div class="clear ftBox mT20">
    		<p class="flL mL250"><input type="button" value="  クリ ア  " onclick="" class="btnImg"></p>
         <p class="flR mR250"><input type="button" value="  出 力  " onclick="" class="btnImg"></p>
    </div> 
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->


