
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">受注一覧出力</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB20">絞り込み条件を入力してください。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC w150">Sys. No.</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w340">
            	</td>
             <td colspan="2">&nbsp;
             	
             </td>
        </tr>
        <tr>
            	<th class="taC">名前</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w340">
            	</td>
             <td colspan="2">&nbsp;
             	
             </td>
        </tr>
		<tr>
            	<th class="taC">法人名</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w340">
            	</td>
            	<td colspan="2">
                	<input type="text" value="XXXXXXXXXX" class="w340">
                 <input type="button" value="参照" onclick="" class="btnImg">
            	</td>
        </tr>
        <tr>
            	<th class="taC">進行状況</th>
            	<td>
                	<label for="id_1"><input type="checkbox" id="id_1" />TEL打ち合わせ</label>
                	<label for="id_2"><input type="checkbox" id="id_2" />見積依頼</label>
                	<label for="id_3"><input type="checkbox" id="id_3" />見積完了</label>
            	</td>
            	<td colspan="2">
                	・・・ステータス分すべて表示
            	</td>
        </tr>
        <tr>
            	<th class="taC">手配状況</th>
            	<td>
                	<label for="id_4"><input type="checkbox" id="id_4" />手配無し</label>
                	<label for="id_5"><input type="checkbox" id="id_5" />未手配</label>
                	<label for="id_6"><input type="checkbox" id="id_6" />手配中</label>
            	</td>
            	<td colspan="2">
                	・・・手配ステータス分すべて表示
            	</td>
        </tr>
        <tr>
            	<th class="taC">見積日</th>
            	<td colspan="3">
                	<input type="text" value="1999/11/11" class="w110" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;〜&nbsp;
                 <input type="text" value="1999/11/11" class="w110" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
            	</td>
        </tr>
        <tr>
            	<th class="taC"> 作業日</th>
            	<td colspan="3">
                	<input type="text" value="1999/11/11" class="w110" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;〜&nbsp;
                 <input type="text" value="1999/11/11" class="w110" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;&nbsp;
                 <label for="id_7"><input type="checkbox" id="id_7" />積情報のみ</label>
                	<label for="id_8"><input type="checkbox" id="id_7" />卸情報のみ</label>
            	</td>
        </tr>
        <tr>
            	<th class="taC">清算日</th>
            	<td colspan="3">
                	<input type="text" value="1999/11/11" class="w110" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;〜&nbsp;
                 <input type="text" value="1999/11/11" class="w110" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;&nbsp;
            	</td>
        </tr>
        <tr>
            	<th class="taC">取扱区分</th>
             <td colspan="3">
             	<label for="id_11"><input type="checkbox" id="id_11" />引越・移転・生活関連</label>
                	<label for="id_12"><input type="checkbox" id="id_12" />一般貨物</label>
             </td>
        </tr>
        <tr>
        		<th class="taC">一覧表</th>
             <td colspan="3">
             	<label for="id_13"><input type="checkbox" id="id_13" />受注一覧(作業)</label><br>
                	<label for="id_14"><input type="checkbox" id="id_14" />引越センター間取引明細書</label>
             </td>
        </tr>
    </table>
    
    <div class="clear ftBox mT20">
    		<p class="flL mL250"><input type="button" value="  ク リ ア  " onclick="" class="btnImg"></p>
         <p class="flR mR250"><input type="button" value="  出 力  " onclick="" class="btnImg"></p>
    </div> 
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

