
<!-- mainContents -->
<section id="mainContents">

	<h2 class="contentsTitle01">支払一覧表出力</h2>

	<!-- sectionBase01 -->
	<section class="sectionBase01">
		<!--pdPt01-->
		<div class="pdPt01">
			<!-- caution -->
			<p class="caution mB20">対象データが存在していません。</p>

			<?php echo $this->Form->create(
				null,
				array(
					'url' => array(
						'controller' => 'data_search',
						'action' => 'shiharai_list',
					),
					'inputDefaults' => array(
						'div' => false,
						'label' => false,
						'error' => false,
					)
				)
			); ?>
				<!-- tablePt02 -->
				<table class="tablePt02">
					<tr>
						<th class="taC w150">Sys. No.</th>
						<td class="w350">
							<?php echo $this->Form->input('conditions.UKETSUKE_NO', array(
								'type' => 'text',
								'class' => 'w340',
							)); ?>
						</td>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<th class="taC">名前</th>
						<td class="w350">
							<?php echo $this->Form->input('conditions.KOKYAKUMEI', array(
								'class' => 'w340',
							)); ?>
						</td>
						<td colspan="2">&nbsp;

						</td>
					</tr>
					<tr>
						<th class="taC">法人名</th>
						<td>
							<?php echo $this->Form->input('conditions.HOJIN_CD', array(
								'class' => 'w340',
							)); ?>
						</td>
						<td colspan="2">
							<input type="text" value="" class="w340">
							<input type="button" value="参照" onclick="" class="btnImg">
						</td>
					</tr>
					<tr>
						<th class="taC">進行状況</th>
						<td>
							<?php echo $this->Form->input('conditions.JUCHU_STS_CD', array(
								'type' => 'select',
								'multiple' => 'checkbox',
								'options' => $juchuStsCdOptions,
							)); ?>
						</td>
						<td colspan="2">
							・・・ステータス分すべて表示
						</td>
					</tr>
					<tr>
						<th class="taC"> 作業日</th>
						<td colspan="3">
							<?php echo $this->Form->input('conditions.SAGYO_DT_FROM', array(
								'class' => 'w110',
							)); ?>
							<a href="" class="btnImg icoCal01 vlineM"></a>
							&nbsp;〜&nbsp;
							<?php echo $this->Form->input('conditions.SAGYO_DT_TO', array(
								'class' => 'w110',
							)); ?>
							<a href="" class="btnImg icoCal01 vlineM"></a>
						</td>
					</tr>
				</table>

				<div class="clear ftBox mT20">
					<p class="flL mL250"><?php echo $this->Form->submit(
						'  ク リ ア  ',
						array(
							'class' => 'btnImg',
							'div' => false,
							'name' => 'clear',
						)
					); ?></p>
					<p class="flR mR250"><?php echo $this->Form->submit(
						'  出 力  ',
						array(
							'class' => 'btnImg',
							'div' => false,
							'name' => 'download',
						)
					); ?></p>
				</div>
			<?php echo $this->Form->end(); ?>
		</div>
		<!-- /pdPt01-->
	</section>
	<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

