@charset "UTF-8";

/*
 * css_browser_selector.css
 *
 *  version --- 1.0
 *  updated --- 2014.09.29
 */



/* 利用できるOSコード
---------------------------------------------------------- */
.win {
/*Windows (全バージョン)のみ*/
}
.vista {
/*Windows Vistaのみ*/
}
.linux {
/*linux（x11とlinux）のみ*/
}
.mac {
/*Mac OSのみ*/
}
.freebsd {
/*FreeBSDのみ*/
}
.ipod {
/*iPod Touchのみ*/
}
.iphone {
/*iphoneのみ*/
}
.ipad {
/*ipadのみ*/
}
.ipad input[type="text"]{
padding: 1px 3px 0 ;
}
.ipad .btnNumArea01 a.minus,
.ipad .btnNumArea01 a.plus{
padding:1px 0;
}
.ipad .btnNumArea01 a.open{
padding: 1px 0 0 5px;
}
.ipad input[type="checkbox"] {
-webkit-appearance: none;
position: relative;
margin-right: 5px;
border-radius: 8px;
border: 2px solid #4c4c4c;
-webkit-box-sizing: border-box;
width: 28px;
height: 28px;
background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fdfdfd),
    to(#d1d1d1)
);
vertical-align: middle;
}

/* チェック時は背景色を変更 */
.ipad input[type="checkbox"]:checked {
background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#353535),
    to(#8f8f8f)
);
}

/* チェックの印を:before疑似要素と:after疑似要素を使って作成 */
.ipad input[type="checkbox"]:checked:before {
position: absolute;
left: 1px;
top: 17px;
display: block;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
content: "";
width: 10px;
height: 4px;
background: #FFFFFF;
-webkit-transform: rotate(45deg);
-webkit-transform-origin: right center;
}

.ipad input[type="checkbox"]:checked:after {
display: block;
position: absolute;
left: 9px;
top: 17px;
content: "";
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
width: 19px;
height: 4px;
background: #FFFFFF;
-webkit-transform: rotate(-53deg);
-webkit-transform-origin: left center;
}
.ipad input[type="radio"] {
-webkit-appearance: none;
position: relative;
margin-right: 5px;
border-radius: 14px;
border: 2px solid #4c4c4c;
-webkit-box-sizing: border-box;
width: 28px;
height: 28px;
background: -webkit-gradient(
linear,
left top,
left bottom,
from(#fdfdfd),
to(#d1d1d1)
);
vertical-align: middle;
}

/* チェック時は背景色を変更 */
.ipad input[type="radio"]:checked {
background: -webkit-gradient(
linear,
left top,
left bottom,
from(#353535),
to(#8f8f8f)
);
}
/* チェックの印を:before疑似要素を使って作成 */
.ipad input[type="radio"]:checked:before {
position: absolute;
left: 50%;
top: 50%;
display: block;
margin: -5px 0 0 -5px;
-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 1);
content: "";
border-radius: 5px;
width: 10px;
height: 10px;
background: -webkit-gradient(
linear,
left top,
left bottom,
from(#fdfdfd),
to(#d1d1d1)
);
}
.webtv {
/*WebTVのみ*/
}
.j2me {
/*J2ME Devices（例えばOpera mini）のみ*/
}
.blackberry {
/*blackberryのみ*/
}
.android {
/*Google Androidのみ*/
}
.mobile {
/*全てのモバイルデバイスのみ*/
}


/* 利用できるブラウザコード
---------------------------------------------------------- */
.ie {
/*Internet Explorer（全バージョン）のみ*/
}
.ie8 {
/*Internet Explorer 8.xのみ*/
}
.ie7 {
/*Internet Explorer 7.xのみ*/
}
.ie6 {
/*Internet Explorer 6.xのみ*/
}
.ie5 {
/*Internet Explorer 5.xのみ*/
}
.gecko {
/*Firefox（全バージョン）とCaminoのみ*/
}
.ff2 {
/*Firefox 2のみ*/
}
.ff3 {
/*Firefox 3のみ*/
}
.ff3_5 {
/*Firefox 3.5のみ*/
}
.ff3_6 {
/*Firefox 3.6のみ*/
}
.opera {
/*Opera（全バージョン）のみ*/
}
.opera8 {
/*Opera 8.xのみ*/
}
.opera9 {
/*Opera 9.xのみ*/
}
.opera10 {
/*Opera 10.xのみ*/
}
.konqueror {
/*Konquerorのみ*/
}
.webkit {
/*Safari, NetNewsWire, OmniWeb, Shiira, Google Chromeのみ*/
}
.safari {
/*Safari, NetNewsWire, OmniWeb, Shiira, Google Chromeのみ*/
}
.safari3 {
/*Safari 3.xのみ*/
}
.chrome {
/*Google Chromeのみ*/
}
.iron {
/*SRWare Ironのみ*/
}


/* サンプル */
/*
.gecko .hPT01 {
    color: red;
}
*/