
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">ユーザー管理マスタ検索</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB30">該当する情報は存在しません。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC">ユーザーID</th>
            	<td colspan="3">
                	<input type="text" value="nnn" class="w150" />
            	</td>
        </tr>
		<tr>
            	<th class="taC">組織コード</th>
            	<td>
                	<input type="text" value="nnnnn" class="w150">
            	</td>
            	<td colspan="2">
                	<input type="text" value="XXXXXXXXXX" class="w150">
                 <input type="button" value="参照" onclick="" class="btnImg">
            	</td>
        </tr>
    </table>
    <div class="clear ftBox mT20">
    		<p class="flL"><input type="button" value=" ク リ ア " onclick="" class="btnImg"></p>
         <p class="flL mL110"><input type="button" value="  検 索  " onclick="" class="btnImg"></p>
         <p class="flR"><input type="button" value=" メニューに戻る " onclick="" class="btnImg"></p>
         <p class="flR mR110"><input type="button" value="  CSV出力  " onclick="" class="btnImg"></p>
         <p class="flR mR110"><input type="button" value="  新規登録  " onclick="" class="btnImg"></p>
    </div> 
</div>
<!-- /pdPt01-->


<h2 class="contentsTitle01 mT30">検索結果</h2>

<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mT20">○件該当しました。</p>
    <div class="pagerContents">
        <p>○/○ページ を表示</p>
        <ul>
            <li class="first"><a href="">最初</a></li>
            <li class="prev"><a href="">前へ</a></li>
            <li><span class="thisPage">1</span></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="next"><a href="">次へ</a></li>
            <li class="last"><a href="">最後</a></li>
        </ul>
    </div>
    <!-- tablePt02 -->
    <table class="tablePt02">
    		<tr>
             <th class="taC">ユーザーID</th>
             <th class="taC">パスワード</th>
             <th class="taC">セキュリティ</th>
             <th class="taC">組織コード</th>
             <th class="taC">組織名称</th>
             <th class="taC">ログイン者名</th>
             <th class="taC">担当者コード</th>
             <th class="taC">社員略称</th>
             <th class="taC">修正</th>
             <th class="taC">削除</th>
          </tr>
          <tr>
          	<td>nnnnnnnnnn</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td>nnnnn</td>
            <td>XXXXXXXX</td>
            <td>XXXXXXXX</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td><input type="button" value="修正" onclick="" class="inputBtn01"></td>
            <td><input type="button" value="削除" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>nnnnnnnnnn</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td>nnnnn</td>
            <td>XXXXXXXX</td>
            <td>XXXXXXXX</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td><input type="button" value="修正" onclick="" class="inputBtn01"></td>
            <td><input type="button" value="削除" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>nnnnnnnnnn</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td>nnnnn</td>
            <td>XXXXXXXX</td>
            <td>XXXXXXXX</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td><input type="button" value="修正" onclick="" class="inputBtn01"></td>
            <td><input type="button" value="削除" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>nnnnnnnnnn</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td>nnnnn</td>
            <td>XXXXXXXX</td>
            <td>XXXXXXXX</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td><input type="button" value="修正" onclick="" class="inputBtn01"></td>
            <td><input type="button" value="削除" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>nnnnnnnnnn</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td>nnnnn</td>
            <td>XXXXXXXX</td>
            <td>XXXXXXXX</td>
            <td>nnnnnnnnnn</td>
            <td>XXXXXXXX</td>
            <td><input type="button" value="修正" onclick="" class="inputBtn01"></td>
            <td><input type="button" value="削除" onclick="" class="inputBtn01"></td>
          </tr>
    </table>
    <div class="pagerContents mT30">
        <ul>
            <li class="first"><a href="">最初</a></li>
            <li class="prev"><a href="">前へ</a></li>
            <li><span class="thisPage">1</span></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="next"><a href="">次へ</a></li>
            <li class="last"><a href="">最後</a></li>
        </ul>
    </div>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

