

<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">エリアマスタ登録</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB30">エリアコードが未入力です。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
    		<tr>
            	<th class="taC">エリアコード <span class="required">※</span></th>
            	<td colspan="3">
                	<input type="text" value="nnn" class="w150" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">エリア名称 <span class="required">※</span></th>
            	<td colspan="3">
                	<input type="text" value="nnn" class="w150" />
            	</td>
        </tr>
		<tr>
            	<th class="taC">組織コード<span class="required">※</span></th>
            	<td>
                	<input type="text" value="nnnnn" class="w150">
            	</td>
            	<td colspan="2">
                	<input type="text" value="XXXXXXXXXX" class="w150">
                 <input type="button" value="参照" onclick="" class="btnImg">
            	</td>
        </tr>
        <tr>
            	<th class="taC">更新日時</th>
            	<td colspan="3">
                	yyyymmdd HH:MM:SS
            	</td>
        </tr>
        <tr>
            	<th class="taC">更新者ID</th>
            	<td colspan="3">
                	XXXXXXXXXX
            	</td>
        </tr>
    </table>
    
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

