

<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">マスタ管理メニュー</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    
    <!-- tablePt02 -->
    <table class="tablePt02 mT20">
    		<tr>
            	<th class="taC">ユーザー管理マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">組織マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">エリアマスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">担当者マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">法人マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">外部業者マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">家具マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">お買い上げ・リース品<br>パターンマスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">お買い上げ・リース品<br>マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">運賃(時間制)タリフ<br>マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">運賃(距離制)タリフ<br>マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">小鳩タリフマスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">郵便番号マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">汎用マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
        <tr>
            	<th class="taC">銀行マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
             <th class="taC">会員名簿マスタ</th>
            	<td>
                	<input type="text" value="nnn" class="w200" />
            	</td>
        </tr>
    </table>
</div>
<!-- /pdPt01-->
</section> 
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->
