<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="user-scalable=yes" >
<meta name = "format-detection" content = "telephone=no">
<!--<link rel="apple-touch-icon-precomposed" href="/ico_spicon01.png" />-->

<!-- css読み込み -->
<?php $this->Html->css(array(
	'/common/css/import',
)) ?>

<!-- jquery -->
<script src="/common/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<!-- Pagetop -->
<script type="text/javascript" src="/common/js/scrolltopcontrol.js"></script>
<!-- ロールオーバー -->
<script src="/common/js/roll_over_v2.js" type="text/javascript" charset="UTF-8"></script>
<!-- CSS Browser Selector -->
<script src="/common/js/css_browser_selector.js" type="text/javascript"></script>


<meta name="keywords" content="" />
<meta name="description" content="" />

<title>サンプルパーツ｜ハトのマークの引越センター</title>
</head>

<body id="juchu">

<!-- wrapper -->
<div id="wrapper">
<!-- container -->
<div id="container">
<!-- header -->
<header>
<div id="headerContents">
<h1 id="logo"><a href=""><img src="/common/img/img_logo01.png" width="318" height="38" alt="ハトのマークの引越センター" /></a></h1>
<nav id="headerMenu">
<a href="" class="account"><img src="/common/img/img_account01.png" width="28" height="28" alt="" class="accountImg01" />Saikyoさん</a>
</nav>
</div>
</header>
<!-- /header -->

<!-- naviContents -->
<section id="naviContents">
<nav id="globalNavi">
<ul>
<li><a href=""><span>TOP</span></a></li>
<li<?php if($this->name === 'Juchu') echo ' class="active"'; ?>><a href="/juchu/kihon"><span>基本登録</span></a></li>
<li><a href="/data/"><span>データ検索</span></a></li>
<li><a href=""><span>配車管理</span></a></li>
<li><a href=""><span>求貨・求車</span></a></li>
<li><a href=""><span>フリー請求</span></a></li>
<li<?php if($this->name === 'Seisan') echo ' class="active"'; ?>><a href="/seisan/syokai"><span>請求・清算</span></a></li>
<li><a href=""><span>現場</span></a></li>
<li><a href=""><span>資材発注</span></a></li>
<li><a href=""><span>フォーラム</span></a></li>
<li><a href="/master/"><span>マスター</span></a></li>
</ul>
</nav>
<nav id="localNavi">
<ul>
<?php if($this->name === 'Seisan'): ?>
<li<?php if($this->action === 'syokai') echo ' class="active"'; ?>><a href="/seisan/syokai"><span>精算照会</span></a></li>
<li<?php if($this->action === 'month_hiyo') echo ' class="active"'; ?>><a href="/seisan/month_hiyo"><span>月額固定費用</span></a></li>
<li<?php if($this->action === 'other_zuiji') echo ' class="active"'; ?>><a href="/seisan/other_zuiji"><span>その他随時費用</span></a></li>
<li<?php if($this->action === 'kakuteitorikeshi') echo ' class="active"'; ?>><a href="/seisan/kakuteitorikeshi"><span>確定取消</span></a></li>
<li<?php if($this->action === 'hiyokoumoku') echo ' class="active"'; ?>><a href="/seisan/hiyokoumoku"><span>費用項目</span></a></li>
<li<?php if($this->action === 'csv') echo ' class="active"'; ?>><a href="/seisan/csv"><span>精算CSV出力</span></a></li>
<li<?php if($this->action === 'hikiotoshi') echo ' class="active"'; ?>><a href="/seisan/hikiotoshi"><span>精算引落<br>情報作成</span></a></li>
<li<?php if($this->action === 'daikinkaisyu') echo ' class="active"'; ?>><a href="/seisan/daikinkaisyu"><span>代金回収<br>結果取込</span></a></li>
<?php elseif($this->name === 'Juchu'): ?>
<li<?php if($this->action === 'index') echo ' class="active"'; ?>><a href="/juchu/"><span>基本登録</span></a></li>
<li<?php if($this->action === 'kazai') echo ' class="active"'; ?>><a href="/juchu/kazai"><span>家財</span></a></li>
<li<?php if($this->action === 'tehai') echo ' class="active"'; ?>><a href="/juchu/tehai"><span>手配</span></a></li>
<li<?php if($this->action === 'juyojiko_sogokakunin') echo ' class="active"'; ?>><a href="/juchu/juyojiko_sogokakunin"><span>重要事項相互確認</span></a></li>
<li<?php if($this->action === 'roukin') echo ' class="active"'; ?>><a href="/juchu/roukin"><span>料金</span></a></li>
<li<?php if($this->action === 'sashizu') echo ' class="active"'; ?>><a href="/juchu/sashizu"><span>指図書</span></a></li>
<li<?php if($this->action === 'chouhyou') echo ' class="active"'; ?>><a href="/juchu/chouhyou"><span>帳票出力</span></a></li>
<?php endif; ?>
</ul>
</nav>
</section>
<!-- /naviContents -->

<!-- contents -->
<section id="contents">

<?php echo $this->fetch('content'); ?>

</section>
<!-- /contents -->

</div>
<!-- /container -->

	<?php echo $this->element('sql_dump'); ?>
</div>
<!-- /wrapper -->


<!-- footer -->
<footer>
<!-- footerContents -->
<div id="footerContents">
<div class="btnAreaL01"><a href="" class="btnPt01">削除</a></div>
<!-- gopagetop -->
<div id="gopagetop">
<a onclick="backToTop(); return false" href="#"><img src="common/img/ico_pagetop01.png" width="19" height="12" alt="↑" />ページ上部へ</a>
</div>
<!-- /gopagetop -->
<div class="btnAreaR01"><a href="" class="btnPt02">保存終了</a></div>


</div>
<!-- /footerContents -->
</footer>
<!-- /footer -->

</body>
</html>
