
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01 icoKihontouroku01">その他随時費用検索条件入力</h2>
<section class="sectionBase01">

<?php echo $this->Session->flash(); ?>

<table   class="tablePt01 mT50 mB50 mL20 w720">
	<tr>
    	<th class="w130">請求月</th>
    	<td class="w300">
                    <?php echo  $this->Form->input('NO_FIELD', 
                                            array('type'=>'text', 
                                                  'label' => false,
                                                  'div' => false,
                                                  'class' => 'w100 flL',
                                                  'placeholder' => 'yyyymm',
                                                  'value' => '')) ?> <p class="flL">　～　</p>
                    <?php echo  $this->Form->input('NO_FIELD', 
                                            array('type'=>'text', 
                                                  'label' => false,
                                                  'div' => false,
                                                  'class' => 'w100 flL',
                                                  'placeholder' => 'yyyymm',
                                                  'value' => '')) ?>
        </td>
        <td class="w130"></td>
        <td class="w130"></td>
    </tr>
	<tr>
    	<th>費用コード</th>
    	<td>
                    <?php echo  $this->Form->input('NO_FIELD', 
                                            array('type'=>'text', 
                                                  'label' => false,
                                                  'div' => false,
                                                  'class' => 'w100',
                                                  'value' => '')) ?>
        </td>
        <td>
                    <?php echo  $this->Form->label('NO_FIELD') ?>
        </td>
        <td>
				<input type="button" value="参照"> 
        </td>
    </tr>
    <tr>
    	<th >請求先コード</th>
    	<td>
                    <?php echo  $this->Form->input('NO_FIELD', 
                                            array('type'=>'text', 
                                                  'label' => false,
                                                  'div' => false,
                                                  'class' => 'w100',
                                                  'value' => '')) ?>
        </td>
        <td>
                    <?php echo  $this->Form->label('NO_FIELD') ?>
        </td>
        
        <td>
        	<input type="submit" value="参照"> 
        </td>
    </tr>
</table>
<div align="center">
	<input class="margin:20px; w200 " type="submit" value="クリア">
    <input class="margin:20px; w200 " type="submit" value="検索">
    <input class="margin:20px; w200 " type="submit" value="新規登録">
</div>

<h2 class="contentsTitle01 icoKihontouroku01">その他随時費用検索結果</h2>

<p　class="caution"><?php echo $arrData['rec_total'] ?>件該当しました。</p>

<!-- pagerContents -->
<div class="pagerContents">
<p><?php echo $arrData['current_pg'] ?>/<?php echo $arrData['pg_total'] ?>ページ を表示</p>
<?php echo $this->Paging->list_navi($arrData, $pg_url) ?>
</div>
<!-- /pagerContents -->


<table id="mTable" class="tablePt01 mT50 mB50 mL20 w980">

    <tr>
    	<th>清算月</th>
    	<th>清算名称</th>
        <th>請求先</th>
        <th>請求合計額</th>
    	<th>&nbsp;</th>
    	<th>&nbsp;</th>
    </tr>
<?php if(!empty($arrData['list'])): ?>
<?php foreach($arrData['list'] as $row): ?>
    <tr>
    	<td><?php echo date('Y/m/d',strtotime($row[0]['UPDATE_DT'])) ?></td>
    	<td>清算名称</td>
        <td>請求先</td>
        <td><p class="pdPt01 taR">￥<?php echo number_format($row[0]['MEISAI_TOTAL_GK']) ?></p></td>
    	<td><input class="w100 " type="button" value="修正"></td>
        <td><input class="w100 " type="button" value="削除"></td>
    </tr>
<?php endforeach;?>
<?php endif; ?>
</table>


<!-- pagerContents -->
<div class="pagerContents">
<?php echo $this->Paging->list_navi($arrData, $pg_url) ?>
</div>
<!-- /pagerContents -->

</section>

</section>
<!-- /mainContents -->
