
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01 icoKihontouroku01">費用項目マスタ登録</h2>

<p class="caution">メッセージ</p>

<table class="tablePt01 mL20  w1000">
  <tbody>
    <tr>
      <td colspan="2">
      <table  class=" mg0 w1000 ">
        <tbody>
          <tr>
            <th class="w200">組織コード ※</th>
            <td class = "w100">
            	<input type="text" value="" class="pd0 w100"  />
            
            </td>
            <td class = "w100">
           		<input type="text" value="" class="pd0 w100"  />

            </td>
            <td class="w500">
            <input type="submit" value="参照">
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td valign="top">
      <table class=" mg0 w380">
        <tbody>
          <tr>
            <th class="w200">請求年度　※</th>
            <td class = "w150">
            	<input type="text" value="" class="pd0 w150"  />
            </td>
            <td class = "w20">年</td>
          </tr>
          <tr>
            <th class="">費用項目コード　※</th>
            <td><input type="text" value="" class="pd0 w100"  /></td>
            <td></td>
          </tr>
          <tr>
            <th class="">費用名称　※</th>
            <td colspan="2"><input type="text" value="" class="pd0 w100"  /></td>
          </tr>
          <tr>
            <th class="">費用金額</th>
            <td><input type="text" value="" class="pd0 w100"  /></td>
            <td>円</td>
          </tr>
          <tr>
            <th class="">消費税区分</th>
            <td>
                <select name="example01" class="requiredContents w100">
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="">手数料率</th>
            <td><input type="text" value="" class="pd0 w100"  /></td>
            <td>％</td>
          </tr>
          <tr>
            <th class="">手数料消費税区分</th>
            <td>
                <select name="example01" class="requiredContents w100">
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="">BOX使用量(1個あたり)</th>
            <td><input type="text" value="" class="pd0 w100"  /></td>
            <td>円</td>
          </tr>
          <tr>
            <th class="">発BOX手数料(1個あたり)</th>
            <td><input type="text" value="" class="pd0 w100"  /></td>
            <td>円</td>
          </tr>
          <tr>
            <th class="">着BOX手数料(1個あたり)</th>
            <td><input type="text" value="" class="pd0 w100"  /></td>
            <td>円</td>
          </tr>
        </tbody>
      </table>
      </td>
      <td class="tablePt01 mg0 w500" valign="top">
      <table class="tablePt01 mg0  ">
        <tbody>
          <tr>
            <td class="w200 pd0 mg0">&nbsp;</td>
            <td class="w200 pd0 mg0">&nbsp;</td>
            <td class="w50 pd0 mg0">&nbsp;</td>
          </tr>
          <tr>
            <th class="pd0 mg0">料金形態　※</th>
            <td class="pd0 mg0">
                <select name="example01" class="requiredContents w200">
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                </select>
            </td>
            <td class="taL pd0 mg0">％</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th class="">消費税率</th>
            <td ><input type="text" value="" class="pd0 w100"  /></td>
            <td>％</td>
          </tr>
          <tr>
            <th>手数料計算</th>
            <td>
                 <select name="example01" class="requiredContents w200">
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                <option value="XXXXXXX">XXXXXXX</option>
                </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
  </tbody>
</table>


<table   class="tablePt01 mT10 mB50 mL20 w900" >
	<tr>
    	<th class="w200 taC">備考</th>
    	<td class="w700">
        	<textarea name="" cols=60 rows=3 class="w100per">入力欄
            </textarea>
        
        </td>
    </tr>
	<tr>
    	<th class=" taC" >更新日時</th>
    	<td></td>
    </tr>
	<tr>
    	<th class=" taC">更新者ID</th>
        <td></td>
    </tr>
</table>

<div class="ftBox mT10 mB20 taC">
	<input class = "w200" type="submit" value="クリア">
    <input class = "w200" type="submit" value="登録">
    <input class = "w200" type="submit" value="戻る">
</div>


</section>
<!-- /mainContents -->
