<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01 icoKihontouroku01">精算明細情報照会(固定費)</h2>
<section class="sectionBase01">

<?php echo $this->Session->flash(); ?>

<table   class="tablePt01 mT50 mB50 mL20 w700">
  <tbody>
    <tr>
      <th class="w200">定額費用コード</th>
      <td class="w50">0000</td>
      <td class="w100">ｘｘｘｘｘｘｘ</td>
      <th class="w200">定額費用金額</th>
      <td class = "w150">\000,000</td>
    </tr>
    <tr>
      <th >消費税区分</th>
      <td colspan="2" class = "w90">
        ｘｘｘｘｘｘｘ
      </td>

      <th >消費税金額</th>
      <td>\000,000</td>
    </tr>
  </tbody>
</table>

<hr />

<table   class="tablePt01 mT50 mB50 mL20 w700">
    <tr>
        <th  class = "w200">合計金額</td>
        <td class = "w300">\000,000</td>
    </tr>

</table>
</section>

<h2 class="contentsTitle01 icoKihontouroku01">精算詳細</h2>
<section class="sectionBase01">

<table  class="tablePt01 mT50 mB50 mL20 w350">
    <tr>
        <th  class = "w100">請求先</td>
        <td class = "w100">nnnnnnnn</td>
        <td class = "w120">XXXXXXXX</td>
        <td class = "w30">
            <input type="submit" value="詳細">
        </td>
    </tr>
</table>


<table   class="tablePt01 mT50 mB50 mL20 w900" >

    <tr>
        <td  class="w100">&nbsp;</td>
        <th  class="w60">1月</th>
        <th  class="w60">2月</th>
        <th  class="w60">3月</th>
        <th  class="w60">4月</th>
        <th  class="w60">5月</th>
        <th  class="w60">6月</th>
        <th  class="w60">7月</th>
        <th  class="w60">8月</th>
        <th  class="w60">9月</th>
        <th  class="w60">10月</th>
        <th  class="w60">11月</th>
        <th  class="w60">12月</th>
    </tr>
    <tr>
        <th >請求額</th>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
    </tr>
    <tr>
        <th >消費税</th>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
        <td>\00,000</td>
    </tr>
</table>

<div class="ftBox mT10 mB20 mR20 taR">
    <input class = "w80" type="submit" value="戻る">

</div>

</section>
<!-- /mainContents -->
