<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01 icoKihontouroku01">代金回収結果取込</h2>
<section class="sectionBase01">

<p class="caution">取込を行います。よろしければ、取込実行ボタンを押下してください。</p>

<div class=" mL70 boarder-style:none;"><input type="file" name="datafile" class=" w400 mR30 "><input type="submit" class="w120" value="取込"></div>

<table   class="tablePt01 mT50 mB50 mL20 w500">
	<tr>
    	<th  class=" taC" colspan="5">引落情報</td>
    </tr>
	<tr>
    	<td class="w120">合計件数</td>
    	<td class="w100">☆☆</td>
    	<td class="w40 taL">件</td>
    	<td class="w130">合計金額</td>
    	<td class="w110">☆☆</td>

    </tr>
	<tr>
    	<td>振込済件数</td>
    	<td>☆☆</td>
        <td class=" taL">件</td>
    	<td>振込済金額</td>
    	<td>☆☆</td>

    </tr>
	<tr>
    	<td>振替不能件数</td>
    	<td>☆☆</td>
    	<td>件</td>
    	<td>振替不能金額</td>
    	<td>☆☆</td>
    </tr>
</table>


<table   class="tablePt01 mT50 mB50 mL20 w500">
	<tr>
    	<th class=" taC" colspan="5">振込情報</td>
    </tr>
	<tr>
    	<td class="w120">合計件数</td>
    	<td class="w100">☆☆</td>
    	<td class=" w40 taL">件</td>
    	<td class="w130">合計金額</td>
    	<td class="w110">☆☆</td>

    </tr>
	<tr>
    	<td>振込済件数</td>
    	<td>☆☆</td>
        <td class=" taL">件</td>
    	<td>振込済金額</td>
    	<td>☆☆</td>

    </tr>
	<tr>
    	<td>振替不能件数</td>
    	<td>☆☆</td>
    	<td  class=" taL">件</td>
    	<td>振替不能金額</td>
    	<td>☆☆</td>
    </tr>
</table>
</section>

<h2 class="contentsTitle01 icoKihontouroku01">代金回収結果取込内容</h2>
<section class="sectionBase01">

<table   class="tablePt01  mL20 mT10  mB10 w960">

    <tr>
    	<th  class="w120">振替結果内容</td>
    	<th class="w120">銀行番号</th>
        <th class="w120">支店番号</th>
        <th class="w120">預金種目</th>
    	<th class="w120">口座番号</th>
        <th class="w120">預金者名</th>
        <th class="w120">引落金額</th>
    	<th class="w120">組織名称</th>
    </tr>
    <tr>
    	<td>☆☆</td>
    	<td>☆☆</td>
        <td>☆☆</td>
        <td>☆☆</td>
    	<td>☆☆</td>
        <td>☆☆</td>
        <td>☆☆</td>
    	<td>☆☆</td>
    </tr>
</table>

</section>

</section>
<!-- /mainContents -->