

<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">重要事項相互確認</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution">名前が入力されていません。</p>
    <label for="radio02"><input type="radio" id="radio02" value="" name="radio02" class="mB30">一般家庭引越</label>
    <label for="radio02"><input type="radio" id="radio02" value="" name="radio02" class="mB30 mL30">事務所移転</label>
    <!-- tablePt01 -->
    <table class="tablePt01">
        <tr>
        		<th class="taC w380 bR1CCC">項目</th>
            	<th class="taC w120 bR2White">相互確認</th>
             <th class="taC w380 bR1CCC">項目</th>
            	<th class="taC w120 bR2White">相互確認</th>
        </tr>
        <tr>
        		<td class="bR1CCC">現金・印鑑・貴重品・宝石・預貯金通帳・金券・手形・証券・各種データ等貴重品・ブランド品・記念品・思い出の品等取扱</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">照明器具の取付・取外し</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">危険品・生鮮食品・易損品等の扱い</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">TV/AVの取付・取外し</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">美術館品・骨董品・通販組立家具の取扱</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">洗濯機の取付・取外し</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">ダンボール等荷造り資材の準備</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">エアコンの取付・取外し</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">食器・本・服・雑貨等小物類の荷造り</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">ピアノ等重量物の輸送・移動</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">※当日未梱包の際は中止・または有料</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">マイカー・バイクの輸送</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">食器・本・服・雑貨等小物類の荷解き</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">家財の一時保管</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">使用済みダンボールの処分</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">家財の別送</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">建物・室内の養生</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">不用品の取扱い</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">大物(ダンボールサイズ以上)の解体梱包</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">家電リサイクル法対象品取扱い</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">大物(ダンボールサイズ以上)の組立設置</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">XXXXXXXXXX</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
        <tr>
        		<td class="bR1CCC">XXXXXXXXXX</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
            	<td class="bR1CCC">XXXXXXXXXX</td>
            	<td class="bR2White">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">当センター</option>
                </select>
             </td>
        </tr>
    </table>
    <!-- /tablePt01 -->
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->
