

<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">指図書</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB30">名前が入力されていません。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC w200">梱包作業</td>
            	<td class="w470 bR2White">
                	<label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">標準</label>
				<label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">フル楽々</label>
            		<label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_3">梱包楽々</label>
             	<label for="radio01_4"><input type="radio" name="radio01" value="" id="radio01_4">その他</label>
            	</td>
             <td><input type="text" value="XXXXXXXXXX" class="w300 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">運送確認</td>
            	<td class="bR2White">
                	<label for="radio02_1"><input type="radio" name="radio02" value="" id="radio02_1">標準</label>
				<label for="radio02_2"><input type="radio" name="radio02" value="" id="radio02_2">積み切り</label>
            		<label for="radio02_3"><input type="radio" name="radio02" value="" id="radio02_3">ピストン</label>
             	<label for="radio02_4"><input type="radio" name="radio02" value="" id="radio02_4">その他</label>
            	</td>
             <td><input type="text" value="XXXXXXXXXX" class="w300 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">廃棄取引</td>
            	<td class="bR2White">
                	<label for="radio03_1"><input type="radio" name="radio03" value="" id="radio03_1">料金に含む</label>
				<label for="radio03_2"><input type="radio" name="radio03" value="" id="radio03_2">別料金</label>
            		<label for="radio03_3"><input type="radio" name="radio03" value="" id="radio03_3">会社負担</label>
             	<label for="radio03_4"><input type="radio" name="radio03" value="" id="radio03_4">その他</label>
            	</td>
             <td><input type="text" value="XXXXXXXXXX" class="w300 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">残材回収</td>
            	<td class="bR2White">
                	<label for="radio04_1"><input type="radio" name="radio04" value="" id="radio04_1">料金に含む</label>
				<label for="radio04_2"><input type="radio" name="radio04" value="" id="radio04_2">別料金</label>
            		<label for="radio04_3"><input type="radio" name="radio04" value="" id="radio04_3">会社負担</label>
             	<label for="radio04_4"><input type="radio" name="radio04" value="" id="radio04_4">その他</label>
            	</td>
             <td><input type="text" value="XXXXXXXXXX" class="w300 flL errorContents"></td>
        </tr>
    </table>
    <!-- /tablePt02 -->
    <!--tablePt02-->
    <table class="tablePt02 mT30">
    		<tr>
            <th class="w90 taC">項目</th>
            <th class="w140 taC">数量</th>
            <th class="w90 taC">項目</th>
            <th class="w140 taC">数量</th>
            <th class="w90 taC">項目</th>
            <th class="w140 taC">数量</th>
            <th class="w90 taC">項目</th>
            <th class="w140 taC">数量</th>
        	</tr>
        	<tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr>
        <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr>
        <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr>
         <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr>
         <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr>
         <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr>
         <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr>
         <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr> 
         <tr>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
            <td><input type="text" value="XXXXXXXXXX" class="w80 flL errorContents"></td>
            <td>
                <div class="btnNumArea01">
                    <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                    <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                    <input type="text" value="99" class="w30" />
                    <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                </div>
            </td>
        	</tr> 
    </table>
    <!-- /tablePt02 -->
    <!--tablePt02-->
    <table class="tablePt02 mT30">
    		<tr>
            <th class="w100 taC">指示事項</th>
            <td class="w570"><textarea cols="50" rows="5"></textarea></td>
            <th class="w100 taC">料金</th>
            <td class="w230"><input type="text" value="XXXXXXXXXX" class="w210 flL errorContents"></td>
        	</tr>
    </table>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

