
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">参照登録</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB30">入力したコード(法人名ＣＤ)は存在していません。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC w150">Sys. No.</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
            	</td>
             <th class="taC w150">No.</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
            	</td>
        </tr>
        <tr>
            	<th class="taC">名前</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
            	</td>
             <th class="taC">フリガナ</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
            	</td>
        </tr>
        <tr>
            	<th class="taC">電話番号</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
            	</td>
            	<td colspan="2">&nbsp;
                	
            	</td>
        </tr>
		<tr>
            	<th class="taC">法人名</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
            	</td>
            	<td colspan="2">
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
                 <input type="button" value="参照" onclick="" class="inputBtn01">
            	</td>
        </tr>
        <tr>
            	<th class="taC">元請名</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
            	</td>
            	<td colspan="2">
                	<input type="text" value="XXXXXXXXXX" class="w340 errorContents">
                 <input type="button" value="参照" onclick="" class="inputBtn01">
            	</td>
        </tr>
        <tr>
            	<th class="taC">進行状況</th>
            	<td>
                	<label for="id_1"><input type="checkbox" id="id_1" />TEL打ち合わせ</label>
                	<label for="id_2"><input type="checkbox" id="id_2" />見積依頼</label>
                	<label for="id_3"><input type="checkbox" id="id_3" />見積完了</label>
            	</td>
            	<td colspan="2">
                	・・・ステータス分すべて表示
            	</td>
        </tr>
        <tr>
            	<th class="taC">手配状況</th>
            	<td>
                	<label for="id_4"><input type="checkbox" id="id_4" />手配無し</label>
                	<label for="id_5"><input type="checkbox" id="id_5" />未手配</label>
                	<label for="id_6"><input type="checkbox" id="id_6" />手配中</label>
            	</td>
            	<td colspan="2">
                	・・・手配ステータス分すべて表示
            	</td>
        </tr>
        <tr>
            	<th class="taC">作業日</th>
            	<td colspan="3">
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;〜&nbsp;
                 <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;&nbsp;
                 <label for="id_7"><input type="checkbox" id="id_7" />積情報のみ</label>
                	<label for="id_8"><input type="checkbox" id="id_7" />卸情報のみ</label>
            	</td>
        </tr>
        <tr>
            	<th class="taC">精算日</th>
            	<td colspan="3">
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;〜&nbsp;
                 <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;&nbsp;
            	</td>
        </tr>
        <tr>
            	<th class="taC">受付日</th>
            	<td colspan="3">
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;〜&nbsp;
                 <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;&nbsp;
            	</td>
        </tr>
        <tr>
            	<th class="taC">資材お届け日</th>
            	<td colspan="3">
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;〜&nbsp;
                 <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <a href="" class="btnImg icoCal01 vlineM"></a>
                 &nbsp;&nbsp;
            	</td>
        </tr>
        <tr>
            	<th class="taC">住所</th>
            	<td><input type="text" value="XXXXXXXXXX" class="w340"></td>
             <th class="taC">実績</th>
             <td>
             	<label for="id_9"><input type="checkbox" id="id_9" />実績</label>
                	<label for="id_10"><input type="checkbox" id="id_10" />実績外</label>
             </td>
        </tr>
        <tr>
            	<th class="taC">取扱区分</th>
             <td colspan="3">
             	<label for="id_11"><input type="checkbox" id="id_11" />引越・移転・生活関連</label>
                	<label for="id_12"><input type="checkbox" id="id_12" />一般貨物</label>
             </td>
        </tr>
        <tr>
             <td colspan="4">
             	<label for="id_13"><input type="checkbox" id="id_13" />自センター</label>
                	<label for="id_14"><input type="checkbox" id="id_14" />他センター</label>
                 <label for="id_15"><input type="checkbox" id="id_15" />連合会</label>
                	<label for="id_16"><input type="checkbox" id="id_16" />本部</label>
             </td>
        </tr>
    </table>
    <div class="ftBox mT20">
    		<p class="flL mR20"><input type="button" value="新着" onclick="" class="inputBtn01"></p>
         <p class="flL mR20"><input type="button" value="翌日作業" onclick="" class="inputBtn01"></p>
         <p class="flL mR20"><input type="button" value="翌々日作業" onclick="" class="inputBtn01"></p>
         <p class="flL mR20"><input type="button" value="過去１週間" onclick="" class="inputBtn01"></p>
         <p class="flL mR20"><input type="button" value="過去１ヶ月" onclick="" class="inputBtn01"></p>
         <p class="flL mR20"><input type="button" value="全て表示" onclick="" class="inputBtn01"></p>
    </div>
    <div class="clear ftBox mT10">
    		<p class="flL mR20"><input type="button" value="クリア" onclick="" class="inputBtn01"></p>
         <p class="flL mR20"><input type="button" value="検索" onclick="" class="inputBtn01"></p>
    </div> 
</div>
<!-- /pdPt01-->


<h2 class="contentsTitle01 mT30">検索結果</h2>

<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mT20">○件該当しました。</p>
    <div class="pagerContents">
        <p>○/○ページ を表示</p>
        <ul>
            <li class="first"><a href="">最初</a></li>
            <li class="prev"><a href="">前へ</a></li>
            <li><span class="thisPage">1</span></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="next"><a href="">次へ</a></li>
            <li class="last"><a href="">最後</a></li>
        </ul>
    </div>
    <!-- tablePt02 -->
    <table class="tablePt02">
    		<tr>
             <th class="taC">SYS<br>No.</th>
             <th class="taC">顧客名<br> 法人名</th>
             <th class="taC">積日▼</th>
             <th class="taC">卸日▼</th>
             <th class="taC">積地</th>
             <th class="taC">卸地</th>
             <th class="taC">進行<br>状況▼</th>
             <th class="taC">料金</th>
             <th class="taC">元請C▼</th>
             <th class="taC">実施C▼</th>
             <th class="taC">実績月</th>
             <th class="taC">清算月</th>
             <th class="taC">参照</th>
          </tr>
          <tr>
          	<td>××××<br>××</td>
            <td>鳩山 太郎<br>○○商事</td>
            <td>2014<br>0801</td>
            <td>2014<br>0801</td>
            <td>埼玉県<br>戸田市喜沢</td>
            <td>埼玉県<br>戸田市上戸田</td>
            <td>成約</td>
            <td>\108,000-</td>
            <td>下館センター</td>
            <td>Aセンター</td>
            <td>yyyy<br>mm</td>
            <td>yyyy<br>mm</td>
            <td><input type="button" value="参照登録" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>××××<br>××</td>
            <td>鳩山 太郎<br>○○商事</td>
            <td>2014<br>0801</td>
            <td>2014<br>0801</td>
            <td>埼玉県<br>戸田市喜沢</td>
            <td>埼玉県<br>戸田市上戸田</td>
            <td>成約</td>
            <td>\108,000-</td>
            <td>下館センター</td>
            <td>Aセンター</td>
            <td>yyyy<br>mm</td>
            <td>yyyy<br>mm</td>
            <td><input type="button" value="参照登録" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>××××<br>××</td>
            <td>鳩山 太郎<br>○○商事</td>
            <td>2014<br>0801</td>
            <td>2014<br>0801</td>
            <td>埼玉県<br>戸田市喜沢</td>
            <td>埼玉県<br>戸田市上戸田</td>
            <td>成約</td>
            <td>\108,000-</td>
            <td>下館センター</td>
            <td>Aセンター</td>
            <td>yyyy<br>mm</td>
            <td>yyyy<br>mm</td>
            <td><input type="button" value="参照登録" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>××××<br>××</td>
            <td>鳩山 太郎<br>○○商事</td>
            <td>2014<br>0801</td>
            <td>2014<br>0801</td>
            <td>埼玉県<br>戸田市喜沢</td>
            <td>埼玉県<br>戸田市上戸田</td>
            <td>成約</td>
            <td>\108,000-</td>
            <td>下館センター</td>
            <td>Aセンター</td>
            <td>yyyy<br>mm</td>
            <td>yyyy<br>mm</td>
            <td><input type="button" value="参照登録" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>××××<br>××</td>
            <td>鳩山 太郎<br>○○商事</td>
            <td>2014<br>0801</td>
            <td>2014<br>0801</td>
            <td>埼玉県<br>戸田市喜沢</td>
            <td>埼玉県<br>戸田市上戸田</td>
            <td>成約</td>
            <td>\108,000-</td>
            <td>下館センター</td>
            <td>Aセンター</td>
            <td>yyyy<br>mm</td>
            <td>yyyy<br>mm</td>
            <td><input type="button" value="参照登録" onclick="" class="inputBtn01"></td>
          </tr>
          <tr>
          	<td>××××<br>××</td>
            <td>鳩山 太郎<br>○○商事</td>
            <td>2014<br>0801</td>
            <td>2014<br>0801</td>
            <td>埼玉県<br>戸田市喜沢</td>
            <td>埼玉県<br>戸田市上戸田</td>
            <td>成約</td>
            <td>\108,000-</td>
            <td>下館センター</td>
            <td>Aセンター</td>
            <td>yyyy<br>mm</td>
            <td>yyyy<br>mm</td>
            <td><input type="button" value="参照登録" onclick="" class="inputBtn01"></td>
          </tr>
    </table>
    <div class="pagerContents mT30">
        <ul>
            <li class="first"><a href="">最初</a></li>
            <li class="prev"><a href="">前へ</a></li>
            <li><span class="thisPage">1</span></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="next"><a href="">次へ</a></li>
            <li class="last"><a href="">最後</a></li>
        </ul>
    </div>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

