
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">帳票出力</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
	<p class="caution mB50">出力する帳票を選択し、帳票出力ボタンをクリックしてください。</p>
	<div class="ftBox">
        <div class="flL w280">
        		<label for="id_1"><input type="checkbox" id="id_1" class="mB30" />見積書(下見持参用)</label><br>
             <label for="id_1"><input type="checkbox" id="id_5" class="mB30" />請求書</label><br>
			<label for="id_1"><input type="checkbox" id="id_7" class="mB30" />家財リスト(お客様提示用)</label><br>
			<label for="id_1"><input type="checkbox" id="id_9" class="mB30" />指図書(料金表記あり)</label><br>
        </div>
        <div class="flL w280">
        		<label for="id_1"><input type="checkbox" id="id_2" class="mB30" />見積書(お客様提示用)</label><br>
			<label for="id_1"><input type="checkbox" id="id_6" class="mB30" />領収書</label><br>
            	<label for="id_1"><input type="checkbox" id="id_8" class="mB30" />家財リスト(控え用)</label><br>
            	<label for="id_1"><input type="checkbox" id="id_10" class="mB30" />指図書(料金表記なし)</label><br>
        </div>
        <div class="flL w220">
        		<label for="id_1"><input type="checkbox" id="id_1" class="mB30" />見積書(控え用)</label><br>
             <br><br>
             <br><br>
			<label for="id_1"><input type="checkbox" id="id_9" class="mB30" />指図書(一般貨物)</label><br>
        </div>
        <div class="flL w220">
        		<label for="id_1"><input type="checkbox" id="id_1" class="mB30" />見積書(簡易)</label><br>
             <br><br>
             <br><br>
             <label for="id_1"><input type="checkbox" id="id_9" class="mB30" />依頼先見積書</label><br>
        </div>
	</div>
    <div class="clear">
    		<p class="taC"><input type="button" value="帳票出力" onclick="" class="inputBtn01"></p>
    </div>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->
