
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">写真アップロード／閲覧</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- picture -->
    <img src="common/img/pic/gelato.jpg" width="1002" height="668" alt="">
    <p class="flR mr20">n／m枚</p>

    <!-- 3btn-->
    <div class="column_cover mB10">
        <div class="column_3">
            <p class="taL"><input type="button" value="選択／アップロード" onclick="" class="inputBtn01"></p>
        </div>
        <div class="column_3">
            <p class="taC"><input type="button" value="削除" onclick="" class="inputBtn01"></p>
        </div>
        <div class="column_3">
            <p class="taR"><input type="button" value="閉じる" onclick="" class="inputBtn01"></p>
        </div>
    </div>

    <!-- caution -->
    <p class="taC caution">画像は1案件に10枚までです。</p>

</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->


