

<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">手配</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB30">名前が入力されていません。</p>
    <table class="tablePt01">
        <tr>
            	<th colspan="6">依頼状態</th>
        </tr>
        <tr>
        		<th class="taC">依頼種別</th>
             <td colspan="2">あああああああああああ</td>
             <th class="taC">ステータス</th>
             <td colspan="2">
             	<select name="example01" class="requiredContents">
                    <option value="XXXXXXX">XXXXXXX</option>
                    <option value="XXXXXXX">XXXXXXX</option>
                    <option value="XXXXXXX">XXXXXXX</option>
                	</select>
             </td>
        </tr>
    </table>
    <table class="tablePt01">
    		<tr>
            <th class="taC">依頼元</th>
            <td class="bR2White">ああああああああ</td>
            <td class="bR2White">ああああああああ</td>
            <td class="bR2White">ああああああああ</td>
    </table>
    <div class="ftBox">
        <table class="tablePt01 w780 flL">
                <tr>
                <th class="taC">全依頼する 全依頼先</th>
                <td class="bR2White">ああああああああ</td>
                <td class="bR2White">ああああああああ</td>
                <td class="bR2White">ああああああああ</td>
                </tr>
        </table>
        <p class="flL mT10 mL10"><input type="button" value="参照" onclick="" class="inputBtn01"></p>
        <p class="flL mT10 mL20"><input type="button" value="全依頼" onclick="" class="inputBtn01"></p>
	</div>
    <!--tablePt02-->
    <div class="clear ftBox mT30">
        <table class="tablePt02 w350 flL">
                <tr>
                <th class="taC">手配状況</th>
                <td>
                    <select name="example01" class="requiredContents">
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                    </select>
                </td>
            </tr>
        </table>
        <p class="flR mL10">
              <select name="example01" class="requiredContents">
                  <option value="XXXXXXX">XXXXXXX</option>
                  <option value="XXXXXXX">XXXXXXX</option>
                  <option value="XXXXXXX">ルーム・ハウスクリーニング</option>
              </select>
        </p>
        <p class="flR"><a href="" class="btnImgTxt icoPlus03">手配の追加</a></p>
	</div>
    <table class="clear tablePt02">
    		<tr>
            <th class="w130 taC">項目</th>
            <th class="w110 taC">ステータス</th>
            <th class="w40 taC" >詳細</th>
            <th class="w190 taC">手配先</th>
            <th class="w190 taC">依頼元</th>
            <th class="w140 taC">積日時</th>
            <th class="w140 taC">卸日時</th>
        	</tr>
        	<tr>
            <td>ああああああ</td>
            <td>
                <select name="example04">
                    <option value=""></option>
                    <option value="XXXXX">調整中</option>
                    <option value="XXXXX">XXXXX</option>
                    <option value="XXXXX">XXXXX</option>
                </select>
            </td>
            <td>
            		<input type="button" value="詳細" onclick="" class="inputBtn03">
            </td>
            <td>手配先手配先手</td>
            <td>依頼元依頼元依</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
         </tr>
         <tr>
            <td>ああああああ</td>
            <td>
                <select name="example04">
                    <option value=""></option>
                    <option value="XXXXX">調整中</option>
                    <option value="XXXXX">XXXXX</option>
                    <option value="XXXXX">XXXXX</option>
                </select>
            </td>
            <td>
            		<input type="button" value="詳細" onclick="" class="inputBtn03">
            </td>
            <td>手配先手配先手</td>
            <td>依頼元依頼元依</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
         </tr>
         <tr>
            <td>ああああああ</td>
            <td>
                <select name="example04">
                    <option value=""></option>
                    <option value="XXXXX">調整中</option>
                    <option value="XXXXX">XXXXX</option>
                    <option value="XXXXX">XXXXX</option>
                </select>
            </td>
            <td>
            		<input type="button" value="詳細" onclick="" class="inputBtn03">
            </td>
            <td>手配先手配先手</td>
            <td>依頼元依頼元依</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
         </tr>
         <tr>
            <td>ああああああ</td>
            <td>
                <select name="example04">
                    <option value=""></option>
                    <option value="XXXXX">調整中</option>
                    <option value="XXXXX">XXXXX</option>
                    <option value="XXXXX">XXXXX</option>
                </select>
            </td>
            <td>
            		<input type="button" value="詳細" onclick="" class="inputBtn03">
            </td>
            <td>手配先手配先手</td>
            <td>依頼元依頼元依</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
         </tr>
         <tr>
            <td>ああああああ</td>
            <td>
                <select name="example04">
                    <option value=""></option>
                    <option value="XXXXX">調整中</option>
                    <option value="XXXXX">XXXXX</option>
                    <option value="XXXXX">XXXXX</option>
                </select>
            </td>
            <td>
            		<input type="button" value="詳細" onclick="" class="inputBtn03">
            </td>
            <td>手配先手配先手</td>
            <td>依頼元依頼元依</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
            <td>1999/11/11〜1111/11/11<br>00:00〜00:00</td>
         </tr>
    </table>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->
