

<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">負担の別</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution">費用負担情報を入力して下さい。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC bR2White">顧客名</th>
            	<td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
            	<td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            	<th class="taC w390" colspan="2">梱包</th>
            	<td class="w130"><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td class="w130"><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td class="w130"><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td class="w220"><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC bR2White w100" rowspan="8">電気工事</th>
            	<th class="taC w290">セパレートエアコン</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">エアコンSパック</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">ウォシュレット</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">食器洗浄機</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">浄水器</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">BS・CSアンテナ</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">エアコンクリーニング</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">ドラム式洗濯機</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC bR2White" rowspan="2">ピアノ</th>
            	<th class="taC">アップライト</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC">グランドピアノ</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC" colspan="2">自転車</th>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC" colspan="2">バイク</th>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th class="taC bR2White" rowspan="5">その他</th>
            	<td>××××</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<td>××××</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<td>××××</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<td>××××</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<td>××××</td>
            	<td><label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">法人負担</label></td>
			<td><label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">お客様負担</label></td>
            	<td><label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_2">都度確認</label></td>
             <td><input type="text" value="XXXXXXXXXX" class="w200 flL errorContents"></td>
        </tr>
        <tr>
            	<th rowspan="3" colspan="2">備考</th>
            	<td colspan="4"><textarea rows="5" cols="60"></textarea></td>
        </tr>
    </table>
    <!-- /tablePt02 -->
    <div class="ftBox">
        <div class="flR taR w150">
             <input type="button" value=" 更 新 " onclick="" class="inputBtn01">
        </div>
        <div class="flR taR w150">
        		<input type="button" value=" 戻 る " onclick="" class="inputBtn01">
        </div>
	</div>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->
