<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01 icoKazai01 openTitle01"><span>家財</span></h2>
<!-- sectionBase01 -->
<section class="sectionBase01">

<p class="caution">メッセージ</p>

<div class="mL30 w900 mB10">
    <label for="radio01_1"><input class="mL0"  type="radio" name="radio01" value="" id="radio01_1">単身・独身</label>
    <label for="radio01_2"><input class="mL30"  type="radio" name="radio01" value="" id="radio01_2">ご家族</label>
    <label for="radio01_2"><input class="mL30" type="radio" name="radio01" value="" id="radio01_2">事務所移転</label>
</div>

<table class=" w100per mR0" >
	<tr>
    	<td class="mL10 mR10 w90">
        	<input type="button" value="再計算" onclick="" class="inputBtn01 w90 mL30">
        </td>
    	<td class="w450">
        	<p class="caution">計算結果　：　A　nnn.nnn　㎥　　B　nnn.nnn　㎥</p>	
        </td>
    	<td class="w180 taR">	
        	<input type="text" class="w110" value="">&nbsp;㎥
        </td>
    	<td class="w180 taR">
        	<input type="text" class="w110" value="">&nbsp;㎥

        </td>
	</tr>
</table>

<table class="tablePt02 w100per mB20" >
	<tr>
		<th class="w70 taC  pd0">箱物家具類</th>
		<th  class="w70 taC pd0">数量A</th>
		<th  class="w70 taC pd0">数量B</th>
		<th  class="w70 taC pd0">脚物家具類・他</th>		
        <th  class="w70 taC pd0">数量A</th>
		<th  class="w70 taC pd0">数量B</th>
		<th  class="w70 taC pd0">家電製品類</th>
		<th  class="w70 taC pd0">数量A</th>
		<th  class="w70 taC pd0">数量B</th>
		<th  class="w70 taC pd0">その他のご家財</th>
		<th  class="w70 taC pd0">数量A</th>
		<th  class="w70 taC pd0">数量B</th>
	</tr>
    
	<tr>
		<td></td>
		<td>
            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td></td>		
        <td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
		</td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>

        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select> 
        </td>
		<td></td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
	</tr>

	<tr>
		<td></td>
		<td>
            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td></td>		
        <td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
		</td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>

        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select> 
        </td>
		<td></td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
	</tr>

	<tr>
		<td></td>
		<td>
            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td></td>		
        <td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
		</td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>

        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select> 
        </td>
		<td></td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
	</tr>

	<tr>
		<td></td>
		<td>
            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td></td>		
        <td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
		</td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>

        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select> 
        </td>
		<td></td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
		<td>            <select name="example03" class="w70">
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            <option value="XXXXXXXX">XXXXXXXX</option>
            </select>
        </td>
	</tr>
</table>


<table class="tablePt02 mB50 w960 mL30 mR30" >
	<tr>
        <th class="w130">センター内メモ</th>
		<td class="w300">
            <textarea name="" cols=40 rows=3 class="w100per" >
            テキストエリア
            </textarea>
        </td>
		<th class="w130 taC">通信欄</th>
		<td class="w300">
            <textarea name="" cols=40 rows=3 class="w100per" >
            テキストエリア
            </textarea>
        </td>

	</tr>
</table>


</section>
<!-- /sectionBase01 -->

</section>
<!-- /mainContents -->
