
<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">進行詳細入力</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
	<table class="tablePt02 w400">
    		<tr>
            <th class="taC w120">月日</th>
            <td>1999/11/11</td>
        </tr>
    </table>
    <table class="tablePt02 w800">
        <tr>
            <th class="taC w120">コメント</th>
            <td colspan="2">あああああああああああああああああああああああああああああああ</td>
     	</tr>
     </table>
     <table class="tablePt02 w400">
        <tr>
            <th class="taC w120">実施者</th>
            <td>あああ　ああああ</td>
            <td class="bgCWhite"></td>
     	</tr>
    </table>
    <table class="tablePt02 w650 mT20">
		<tr>
        		<th  class="taC w200">アラート通知日</th>
             <td>1999/11/11</td>
        	</tr>
	</table>
    <div class="ftBox taC w500 mT30">
    		<p class="flR w200"><input type="button" value="戻る" onclick="" class="inputBtn01"></p>
        	<p class="flR w200"><input type="button" value="登録" onclick="" class="inputBtn02"></p>
    </div>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

