



<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">手配入力（資材届け・回収）</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB10">資材お届け・回収の手配情報を登録してください。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC w150" rowspan="2">取扱区分</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
             <th class="taC w150">Sys. No.</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
        <tr>            	
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
             <th class="taC">No.</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10 w500">
        <tr>
            	<th class="taC w150">名前</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
		<tr>
            	<th class="taC w150">法人名</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
            	<th class="taC w150">元請名</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
		<tr>
            	<th class="taC w150">経由先</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
            	<th class="taC w150">受付</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
		<tr>
            	<th class="taC w150">ご紹介</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
            	<th class="taC w150">営業担当</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10 w500">
        <tr>
            	<th class="taC w150">請求先</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10 w500">
        <tr>
            	<th class="taC w150">ご決済</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
        <tr>
            	<th class="taC">&nbsp;</th>
             <th class="taC">Act</th>
             <th class="taC">開始予定時間</th>
             <th class="taC">住所</th>
         </tr>
        	<tr>
            <td class="taC"><label for="id_1"><input type="checkbox" id="id_1" /></label></td>
            <td class="taC">積</td>
            
            	<td>
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <input type="text" value="水" class="w20 requiredContents" />
                 <input type="text" value="hh:mm - hh:mm" class="w130 requiredContents" />
            	</td>
             <td>
             	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w170 errorContents">
             </td>
        </tr>
        <tr>
            <td class="taC"><label for="id_1"><input type="checkbox" id="id_1" /></label></td>
            <td class="taC">卸</td>
            
            	<td>
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <input type="text" value="水" class="w20 requiredContents" />
                 <input type="text" value="hh:mm - hh:mm" class="w130 requiredContents" />
            	</td>
             <td>
             	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w170 errorContents">
             </td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
     	<tr>
        		<th class="taC w110">手配先</th>
             <td>
                 <input type="text" value="XXXXXXXXXX" class="w250 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w250 errorContents">
                 <input type="button" value="参照" onClick="" class="btnImg">
             </td>
        </tr>
     </table>
     
     <div class="ftBox mT20">
     	<table class="tablePt02 flL w490">
        		<tr>
                <th class="taC" colspan="2">積地</th>
             </tr>
             <tr>
             	<th class="taC w40">月日</th>
             	<td>
                		<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                      〜
                     <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                     <br>
                     (例)20140801
                	</td>
             </tr>
             <tr>
             	<th class="taC w40">時間</th>
             	<td>
                		<input type="text" value="hh:mm" class="w60 requiredContents" />
                		〜
                     <input type="text" value="88:88" class="w60 requiredContents" />
                     <br>
                     (例)05:00　<label for="id_2_1"><input type="checkbox" id="id_2_1" />時間延長の可能性あり</label>
                	</td>
             </tr>
             <tr>
             	<th>事前TEL</th>
                	<td>
                 	<select name="example01" class="requiredContents">
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                    </select>
                 </td>
             </tr>
             <tr>
             	<th class="taC">料金提示</th>
                	<td>
                 	<label for="radio01_1"><input type="radio" name="radio01" value="" id="radio01_1">要</label>
					<label for="radio01_2"><input type="radio" name="radio01" value="" id="radio01_2">不要</label>
                    	<label for="radio01_3"><input type="radio" name="radio01" value="" id="radio01_3">要確認</label>
                 </td>
              </tr>
              <tr>
             	<th class="taC">梱包資材</th>
                	<td>
                 	<label for="radio02_1"><input type="radio" name="radio02" value="" id="radio02_1">要</label>
					<label for="radio02_2"><input type="radio" name="radio02" value="" id="radio02_2">不要</label>
                    	<label for="radio02_3"><input type="radio" name="radio02" value="" id="radio02_3">要確認</label>
                 </td>
              </tr>
              <tr>
             	<th class="taC">競合</th>
                	<td>
                 	<input type="text" value="XXXXXXXXXX" class="w380">
                 </td>
              </tr>
              <tr>
             	<th class="taC">備考</th>
                	<td>
                 	<input type="text" value="XXXXXXXXXX" class="w380">
                 </td>
              </tr>
              <tr>
             	<th class="taC">不在時</th>
                	<td>
                 	<label for="radio03_1"><input type="radio" name="radio03" value="" id="radio03_1">玄関前</label>
					<label for="radio03_2"><input type="radio" name="radio03" value="" id="radio03_2">持ち帰り</label>
                    	<label for="radio03_3"><input type="radio" name="radio03" value="" id="radio03_3">要確認</label>
                 </td>
              </tr>
              <tr>
             	<th class="taC">追加分</th>
                	<td>
                 	<label for="radio04_1"><input type="radio" name="radio04" value="" id="radio04_1">有料</label>
					<label for="radio04_2"><input type="radio" name="radio04" value="" id="radio04_2">無料</label>
                    	<label for="radio04_3"><input type="radio" name="radio04" value="" id="radio04_3">要確認</label>
                 </td>
              </tr>
        </table>
        <table class="tablePt02 flL w490 mL20">
        		<tr>
                <th class="taC" colspan="3">卸地</th>
             </tr>
             <tr>
             	<th class="taC w40">月日</th>
             	<td colspan="2">
                		<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                      〜
                     <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                     <br>
                      (例)20140801
                	</td>
             </tr>
             <tr>
             	<th class="taC w40">時間</th>
             	<td colspan="2">
                		<input type="text" value="hh:mm" class="w60 requiredContents" />
                		〜
                     <input type="text" value="88:88" class="w60 requiredContents" />
                     <br>
                      (例)05:00　<label for="id_2_2"><input type="checkbox" id="id_2_2" />時間延長の可能性あり</label>
                	</td>
             </tr>
             <tr>
             	<th>事前TEL</th>
                	<td>
                 	<select name="example01" class="requiredContents">
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                    </select>
                 </td>
             </tr>
         </table>
     </div>
     <table class="clear tablePt02 mT10">
        		<tr>
                <th class="taC" colspan="8">持参資材</th>
             </tr>
             <tr>
             	<td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
             			<a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
             </tr>
             <tr>
             	<td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>&nbsp;
                		
                	</td>
             </tr>
             <tr>
             	<td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>
                		<div class="btnNumArea01">
                        <a href="" class="minus"><img src="common/img/ico_minus01.png" width="13" height="13" alt="-" /></a>
                        <a href="" class="plus"><img src="common/img/ico_plus01.png" width="13" height="13" alt="+" /></a>
                        <input type="text" value="nnn" />
                        <a href="" class="open"><img src="common/img/ico_open02.png" width="18" height="8" alt="↓" /></a>
                    </div>
                	</td>
                 <td><input type="text" value="XXXXXX" class="w60"></td>
                	<td>&nbsp;
                		
                	</td>
             </tr>
        </table>
     
     
     <div class="ftBox">
         <table class="flL tablePt02 w490 mT10">
         	<tr>
            		<th class="taC">Memo</th>
                 <td><textarea cols="40" rows="4"></textarea></td>
            	</tr>
            <tr>
                    <th class="taC">状況</th>
                 <td>
                    <select name="example01" class="requiredContents">
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                    </select>
                 </td>
            </tr>
         </table>
     	<div class="flR mT150">
        		<p><input type="button" value="出力" onClick="" class="inputBtn01"></p>
      	</div>
    </div>
    <div class="clear mT20">
    		<input type="button" value="削除" onclick="" class="inputBtn01">
     	<input type="button" value="戻る" onclick="" class="inputBtn01">
        <input type="button" value="クリア" onclick="" class="inputBtn01">
     	<input type="button" value="更新" onclick="" class="inputBtn01">
    </div>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

