
<!-- contents -->
<section id="contents">

<!-- mainContents -->
<section id="mainContents">

<h2 class="contentsTitle01">手配入力（梱包・開梱）</h2>

<!-- sectionBase01 -->
<section class="sectionBase01">
<!--pdPt01-->
<div class="pdPt01">
    <!-- caution -->
    <p class="caution mB10">梱包開梱の手配情報を登録してください。</p>
    <!-- tablePt02 -->
    <table class="tablePt02">
        <tr>
            	<th class="taC w150" rowspan="2">取扱区分</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
             <th class="taC w150">Sys. No.</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
        <tr>            	
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
             <th class="taC">No.</th>
            	<td>
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
        <tr>
            	<th class="taC w150">名前</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
             <th class="taC w150">営業担当</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
		<tr>
            	<th class="taC w150">法人名</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
            	<th class="taC w150">元請名</th>
            	<td class="w350">
                	<input type="text" value="XXXXXXXXXX" class="w330 errorContents">
            	</td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
        <tr>
            	<th class="taC">&nbsp;</th>
             <th class="taC">Act</th>
             <th class="taC">開始予定時間</th>
             <th class="taC">住所</th>
         </tr>
        	<tr>
            <td class="taC"><label for="id_1"><input type="checkbox" id="id_1" /></label></td>
            <td class="taC">積</td>
            
            	<td>
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <input type="text" value="水" class="w20 requiredContents" />
                 <input type="text" value="hh:mm - hh:mm" class="w130 requiredContents" />
            	</td>
             <td>
             	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w170 errorContents">
             </td>
        </tr>
        <tr>
            <td class="taC"><label for="id_1"><input type="checkbox" id="id_1" /></label></td>
            <td class="taC">卸</td>
            
            	<td>
                	<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 <input type="text" value="水" class="w20 requiredContents" />
                 <input type="text" value="hh:mm - hh:mm" class="w130 requiredContents" />
            	</td>
             <td>
             	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                	<input type="text" value="XXXXXXXXXX" class="w170 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w170 errorContents">
             </td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
     	<tr>
        		<th class="taC w110">担当者</th>
             <td>
                 <input type="text" value="nnnnnnnnnn" class="w250 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w250 errorContents">
                 <input type="button" value="参照" onclick="" class="inputBtn01">
             </td>
        </tr>
     </table>
     
     <table class="tablePt02 mT10">
     	<tr>
        		<th class="taC w110">手配先</th>
             <td>
                 <input type="text" value="XXXXXXXXXX" class="w250 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w250 errorContents">
                 <input type="text" value="XXXXXXXXXX" class="w250 errorContents">
                 <input type="button" value="参照" onclick="" class="inputBtn01">
             </td>
        </tr>
        <tr>
        		<td></td>
             <td>
             	<select name="example01" class="requiredContents">
                     <option value="XXXXXXX">XXXXXXX</option>
                     <option value="XXXXXXX">XXXXXXX</option>
                     <option value="XXXXXXX">XXXXXXX</option>
                 </select>
             </td>
        </tr>
     </table>
     
     <div class="ftBox mT20">
     	<table class="tablePt02 flL w490">
        		<tr>
                <th class="taC" colspan="2">積地</th>
             </tr>
             <tr>
             	<th class="taC w40">月日</th>
             	<td>
                		<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                      〜
                     <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                     <br>
                     (例)20140801
                	</td>
             </tr>
             <tr>
             	<th class="taC w40">時間</th>
             	<td>
                		<input type="text" value="hh:mm" class="w60 requiredContents" />
                		〜
                     <input type="text" value="88:88" class="w60 requiredContents" />
                     <br>
                     (例)05:00
                	</td>
             </tr>
             <tr>
             	<th>積地 地域</th>
                	<td>
                 	<select name="example01" class="requiredContents">
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                     </select>
                 </td>
             </tr>
             <tr>
             	<th>積地 県</th>
                	<td>
                 	<select name="example01" class="requiredContents">
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                     </select>
                 </td>
             </tr>
             <tr>
             	<th rowspan="4">積地 詳細</th>
                	<td>
                    〒 <input type="text" value="9999999" class="w110 requiredContents" />
                    <input type="button" value="参照" onclick="" class="inputBtn01">
                	</td>
             </tr>
             <tr>
             	<td><input type="text" value="9999999" class="w350 requiredContents" /></td>
             </tr>
             <tr>
             	<td><input type="text" value="9999999" class="w350 requiredContents" /></td>
             </tr>
             <tr>
             	<td><input type="text" value="9999999" class="w350 requiredContents" /></td>
             </tr>
        </table>
        <table class="tablePt02 flL w490 mL20">
        		<tr>
                <th class="taC" colspan="3">卸地</th>
             </tr>
             <tr>
             	<th class="taC w40">月日</th>
             	<td colspan="2">
                		<input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                      〜
                     <input type="text" value="1999/11/11" class="w110 requiredContents" />
                 	<input type="text" value="水" class="w20 requiredContents" />
                		<a href="" class="btnImg icoCal01 vlineM"></a>
                     <br>
                      (例)20140801
                	</td>
             </tr>
             <tr>
             	<th class="taC w40">時間</th>
             	<td colspan="2">
                		<input type="text" value="hh:mm" class="w60 requiredContents" />
                		〜
                     <input type="text" value="88:88" class="w60 requiredContents" />
                     <br>
                      (例)05:00
                	</td>
             </tr>
             <tr>
             	<th>卸地 地域</th>
                	<td>
                 	<select name="example01" class="requiredContents">
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                     </select>
                 </td>
             </tr>
             <tr>
             	<th>卸地 県</th>
                	<td>
                 	<select name="example01" class="requiredContents">
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                     </select>
                 </td>
             </tr>
             <tr>
             	<th rowspan="4">卸地 詳細</th>
                	<td>
                    〒 <input type="text" value="9999999" class="w110 requiredContents" />
                    <input type="button" value="参照" onclick="" class="inputBtn01">
                	</td>
             </tr>
             <tr>
             	<td><input type="text" value="9999999" class="w350 requiredContents" /></td>
             </tr>
             <tr>
             	<td><input type="text" value="9999999" class="w350 requiredContents" /></td>
             </tr>
             <tr>
             	<td><input type="text" value="9999999" class="w350 requiredContents" /></td>
             </tr>
         </table>
     </div>
     
         <table class="clear tablePt02 mT10">
             <tr>
             	<th class="taC w70" rowspan="3">作業詳細</th>
                 <th class="taC w70">荷量</th>
                	<td>
                 	<input type="text" value="999.99" class="w80">㎡<br>
                    	(例)111.11
				</td>
                 <th class="taC w70">トン</th>
                	<td>
                    	<input type="text" value="999.9" class="w80">㎡<br>
                 	(例)111.1
                 </td>
             </tr>
             <tr>
                 <th class="taC w70">車種</th>
                	<td>
                 	<select name="example01" class="requiredContents">
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                     </select>
				</td>
                 <th class="taC w70">車両タイプ</th>
                	<td>
                    	<select name="example01" class="requiredContents">
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                         <option value="XXXXXXX">XXXXXXX</option>
                     </select>
                 </td>
             </tr>
             <tr>
                 <th class="taC w70">荷台長</th>
                	<td>
                 	<input type="text" value="99.9" class="w80">m<br>
                    	(例)11.1
				</td>
                 <td colspan="2">
                    	<label for="id_2"><input type="checkbox" id="id_2" />混載可</label>
                 </td>
             </tr>
        </table>
     
     
     <table class="clear tablePt02 mT10">
     	<tr>
        		<th class="taC w110"  rowspan="4">内容</th>
             <th class="taC">希望金額</th>
             <td class="w280">
                 <input type="text" value="XXXXXXXXXX" class="w150">円
             </td>
        		<td>n.　（ネット）<input type="text" value="XXXXXXXXXX" class="w150">円</td>
        </tr>
        <tr>
        		<td colspan="2"><label for="id_3_1"><input type="checkbox" id="id_3_1" />求車情報に送る</label></td>
        		<td>「税込額」<input type="text" value="XXXXXXXXXX" class="w150 mL30"></td>
        </tr>
        <tr>
        		<td colspan="2"><label for="id_3_2"><input type="checkbox" id="id_3_2" />協組内のみに公開する</label></td>
        		<td>g.　（グロス）<input type="text" value="XXXXXXXXXX" class="w150">円</td>
        </tr>
        <tr>
        		<td colspan="4"><textarea cols="80" rows="3"></textarea></td>
        </tr>
     </table>
     
     <div class="ftBox">
         <table class="flL tablePt02 w490 mT10">
            <tr>
                    <th>状況</th>
                 <td>
                    <select name="example01" class="requiredContents">
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                        <option value="XXXXXXX">XXXXXXX</option>
                    </select>
                 </td>
            </tr>
         </table>
     	<div class="flL mL20">
        		&nbsp;
      	</div>
    </div>
    <div class="clear mT20">
    		<input type="button" value="削除" onclick="" class="inputBtn01">
     	<input type="button" value="戻る" onclick="" class="inputBtn01">
        <input type="button" value="クリア" onclick="" class="inputBtn01">
     	<input type="button" value="更新" onclick="" class="inputBtn01">
    </div>
</div>
<!-- /pdPt01-->
</section>
<!-- /sectionBase01-->
</section>
<!-- /mainContents -->

</section>
<!-- /contents -->
